In [1]:
import pandas as pd
import json
from sqlalchemy import create_engine
from config import user,password

### Extract CSVs into DataFrames

In [27]:
# json_file = 'Resources/20191103_LALSAS.json'
# json_file = 'Resources/20191105_LALCHI.json'
# json_file = 'Resources/20191108_LALMIA.json'
# json_file = 'Resources/20191110_LALTOR.json'
# json_file = 'Resources/20191112_LALPHX.json'
json_file = 'Resources/20191113_LALGSW.json'

if json_file:
    with open(json_file, 'r') as f:
        datastore = json.load(f)
# dfdf = pd.read_json(json_file)
# dfdf
event= []
clock= []
description = []
player_code = []
person_id = []
home_score = []
visitor_score = []
team_abr = []
period = []
datastore['sports_content']['game']['play']
for i in datastore['sports_content']['game']['play']:
    event.append(i['event'])
    clock.append(i['clock'])
    description.append(i['description'])
    player_code.append(i['player_code'])
    person_id.append(i['person_id'])
    home_score.append(i['home_score'])
    visitor_score.append(i['visitor_score'])
    team_abr.append(i['team_abr'])
    period.append(i['period'])

In [28]:
gameframe = pd.DataFrame({'event' : event,'clock' : clock,'description' : description, 'player_code':player_code,'person_id':person_id,'home_score':home_score,'visitor_score':visitor_score,'team_abr':team_abr,'period':period})
gameframe.head()

,event,clock,description,player_code,person_id,home_score,visitor_score,team_abr,period
0,2,,Start Period,,,0,0,GSW,1
1,4,11:57,Jump Ball McGee vs Cauley-Stein (James gains p...,javale_mcgee,201580,0,0,GSW,1
2,7,11:53,[LAL 2-0] McGee Alley Oop Layup shot: Made (2 ...,javale_mcgee,201580,2,0,LAL,1
3,9,11:42,[GSW 3-2] Poole 3pt Shot: Made (3 PTS) Assist:...,jordan_poole,1629673,2,3,GSW,1
4,11,11:18,[LAL 4-3] James Step Back Jump shot: Made (2 PTS),lebron_james,2544,4,3,LAL,1

In [29]:
rds_connection_string = user + ":" + password + "@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [30]:
# Confirm tables
engine.table_names()

['LALSAS20191103',
 'LALCHI20191105',
 'LALMIA20191108',
 'LALTOR20191110',
 'LALPHX20191112']

In [31]:
gameframe.to_sql(name='LALGSW20191113', con=engine, if_exists='append', index=False)