In [1]:
import pandas as pd
import json
from sqlalchemy import create_engine
from config import user,password

### Extract CSVs into DataFrames

In [2]:
json_file = '../Resources/20191103LALMIA.json'
json_file = '../Resources/20191108LALMIA.json'
json_file = '../Resources/20191108LALMIA.json'
json_file = '../Resources/20191108LALMIA.json'
json_file = '../Resources/20191108LALMIA.json'
json_file = '../Resources/20191108LALMIA.json'

if json_file:
    with open(json_file, 'r') as f:
        datastore = json.load(f)
# dfdf = pd.read_json(json_file)
# dfdf
event= []
clock= []
description = []
player_code = []
person_id = []
home_score = []
visitor_score = []
team_abr = []
period = []
datastore['sports_content']['game']['play']
for i in datastore['sports_content']['game']['play']:
    event.append(i['event'])
    clock.append(i['clock'])
    description.append(i['description'])
    player_code.append(i['player_code'])
    person_id.append(i['person_id'])
    home_score.append(i['home_score'])
    visitor_score.append(i['visitor_score'])
    team_abr.append(i['team_abr'])
    period.append(i['period'])

In [3]:
gameframe = pd.DataFrame({'event' : event,'clock' : clock,'description' : description, 'player_code':player_code,'person_id':person_id,'home_score':home_score,'visitor_score':visitor_score,'team_abr':team_abr,'period':period})
gameframe.head()

,event,clock,description,player_code,person_id,home_score,visitor_score,team_abr,period
0,2,,Start Period,,,0,0,MIA,1
1,4,11:54,Jump Ball Adebayo vs McGee (Butler gains posse...,bam_adebayo,1628389,0,0,LAL,1
2,7,11:34,[MIA] Nunn Driving Layup Shot: Missed Block: D...,kendrick_nunn,1629134,0,0,MIA,1
3,9,11:31,[LAL] Green Rebound (Off:0 Def:1),danny_green,201980,0,0,LAL,1
4,10,11:25,[LAL 2-0] Bradley Driving Floating Bank Jump S...,avery_bradley,202340,2,0,LAL,1

In [4]:
rds_connection_string = user + ":" + password + "@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [5]:
# Confirm tables
engine.table_names()

['customer_name', 'customer_location', 'premise', 'county', 'LALMIA20191108']

In [6]:
gameframe.to_sql(name='LALMIA20191108', con=engine, if_exists='append', index=False)